<h1>{{title}}</h1>
{% if age > 18 %}
   <p>Tu es majeur<p>
 {% else %}
    <p>Tu es mineur<p>
 {% endif %} 
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius natus vitae assumenda, sunt eum totam modi, dolores sapiente sit porro vel praesentium aliquam. Nulla recusandae nam fugit iusto natus incidunt accusantium eius, nobis placeat dolorum dolores odit, molestias aliquam non.</p>
<p>Eaque accusamus dolor illum, minus corrupti quae officiis consequuntur iure, illo perferendis ipsam voluptate libero omnis numquam cum. Debitis qui error quibusdam vitae minus. Iure consequatur dicta officia deleniti ducimus quas recusandae amet, provident accusantium reiciendis, soluta perferendis nam deserunt?</p>